<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Grid</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">
    
</head>
    

<body>

<div class="outer">
    <div class="topnav">
        Top Nav
    </div>
    <div class="page">
    <div class="container">
        
       
        
        <!-- Hero Content --> 
        <div class="row">
            <div class="col-7">
                <div class="hero_content">
                    <img src="img/tile1.jpg" alt="hero image"/>
                    <p class="hero_text_headline">
                    Here Comes The Sun: Target Reaches 500 Solar Installations
                    </p>
                    <p>
                    As we make moves to create a more sustainable future for our guests, team members and the planet, we’ve reached a major milestone: We just completed our 500th rooftop solar installation.
                    </p>
                </div>
            </div>

            <!-- End Hero Content -->

            <!-- Secondary Info --> 
        <div class="row">
            <div class="col-7">
                <div class="hero_content">
                    <img src="img/tile4.jpg"/>
                    <p class="hero_text_headline">
                    Go Behind the Scenes at Target’s First Net Zero Energy Store — Our Most Sustainable Facility Yet
                    </p>
                    <p>
                    When you stand at the entrance of our Vista, California, store, it looks like any other Target store.
                    </p>
                </div>
            </div>
            
        </div>
 
<!-- End Secondary Info -->

            <div class="col-5">
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/tile2.jpg" />
                    <span class="section">SOLAR INITIATIVE</span></br>
                    Back in 2015, we made the promise to add rooftop solar panels to 500 locations by 2020. This month, we reached our goal ahead of schedule.
            
                </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                
                <div class="side_bar">
                    <img src="img/tile3.jpg" />
                    <span class="section">Go Green</span></br>
                    “At Target, we’re committed to making our operations even more sustainable to create a better future for our guests, team members and the planet,” says Leisen, VP of Property Management, Target.
                </div>
                </div>
                <!--SIDE BAR END -->
               
             
            </div>
        </div>
 
  
        
    </div>
  </div>
</div>


</body>

</html>
 